html
	include ../include/head
	body
		include ../include/header
		.container.linkhead
			a Trang chủ /
			a.linkcontact(href='#') Blog
			.linkhead-title
				h1 BLOG
				img(src='../image/titleleft-dark.png')
		.container
			.row
				.col-lg-4.detail-blog
					p BÀI VIẾT MỚI NHẤT
					-var array=["../image/Chi-tiet-Blog_1.jpg","../image/Chi-tiet-Blog_2.jpg","../image/Chi-tiet-Blog_3.jpg"]
					each val in array
						.row.deatail-blog-right
							.col-lg-4.detail-blog-right-image
								img(src= val)
							.col-lg-8.detail-blog-right-desc
								p CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ
								i.far.fa-calendar 16/01/2016
					p.detail-blog BLOG TAG
					.product-grid-tag.tagblog
						.product-grid-tag
							.row
								each val in ['Túi','Phụ kiện','Đồng hồ']
									a.tag=val
							.row
								each val in ['Giày','Sandal','Áo sơ mi','Nước hoa']
									a.tag=val
							.row
								each val in ['Trẻ em','Thời trang nữ']
									a.tag=val
					p.detail-blog LASTED VIDEO
					img(src='../image/Chi-tiet-Blog_1 video.jpg')
				.col-lg-8
					a.detail-image
						img(src='../image/Chi-tiet-Blog_right.jpg')
					.detail-blog-title
						-var a1=["caption","time","des"];
						-var a2 =["VANG THĂNG LONG CLASSIC","Đăng bởi Nhat Linh| 01/19/2019| 60 Bình luận","Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml."];
					p.detail-blog-donggop ĐÓNG GÓP Ý KIẾN
					form.loginform
						mixin table-add(name,info)
							.row
								.col.lg-2.titleinput=name
								.col-lg-10.input1
									input(type= info, required='')
						+table-add('Tên *','text')
						+table-add('Email *','email')
						.row.ykien
							.col.lg-2.titleinput 
								| Ý kiến *
							.col-lg-10
								input.input2(type='text', required='')
						.row
							.col-lg-2
							.col-lg-10
								button(href='login.html', type='submit') GỬI
					.detail-blog BÌNH LUẬN (4)
						- for(var i=0; i < 3; i++)
							.detail-blog-comment
								.row.detail-blog-comment-time
									.col-lg-4 
										a Bình luận bởi Giang Le  |
									.col-lg-6
										a Cách đây 4 giờ
									.col-lg-2 
										a Trả lời
								.row.detail-blog-comment-content
									.col-lg-12 Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy..
					.row.detail-blog-number
						.col-lg-8
						.col-lg-4.detail-blog-number-page
							i.numberpage.fas.fa-angle-left
							each val in [1,2,3]
								a.numberpage=val
							i.numberpage.fas.fa-angle-right
include ../include/footer

